
# Build output
# Coverage
# Dependencies
# Docker volumes
# Environment variables
# IDE
# Logs
# OS files
# TypeScript build info
**/.env
**/dist/
**/node_modules/
*.env.local
*.env.production
*.log
*.tsbuildinfo
*/node_modules/
.DS_Store
.env
.idea/
.vscode/
Thumbs.db
backend/dist/
client/dist/
coverage/
grafana-data/
mongo-data/
node_modules/
npm-debug.log*
prometheus-data/
yarn-debug.log
yarn-error.log
